#page1{
    height: 100vh;
    width: 100%;
    background-color: lightcoral;
}
#page2{
     height: 100vh;
    width: 100%;
    background-color: lightseagreen;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color: orange;
}

#page2 h1{
    text-shadow:3px 5px 20px green;
}
