
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
     background-image:linear-gradient(to top left,orange,white);  
    overflow-x: hidden;
     
   }

 #nav{
    display: flex;
   margin-top: 10px;
   height: 100%;
   width: 100%;
 }
 #nav>h1{
    color: palevioletred;
 }
 .subnav{
    display: flex;
    gap: 10px;
    /* align-items: center; */
   margin-left: 1100px;
 }
 .subnav *{
    color: white;
    font-size: 1.5em;

 }
 .img1{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 #page2{
   height: 100%;
   width: 100%;
   display:flex;
    justify-content:space-evenly;
    align-items:center;
    color: orange;
 }

 #page2 h1{
    text-shadow:3px 5px 20px green;
}

 #page3{
   height: 100%;
   width: 100%;
 }
 #sub{
   width: 100%;
   display: flex;
   margin-top: 40px;
   justify-content: space-evenly;
    color:palevioletred;
    
 }
 #sub>h2{
   display: flex;
   align-items: center;
 }

 .companies{
   width: 100%; 
   height: 50vh;
   display: flex;
   justify-content: space-evenly;
}
.companies>img{
   height: 50%;
   width: 30%;
  
}